<header class="header">
    <div>
        <img src="/img/logo.png" alt="logo">
        <h5>Petshop</h5>
    </div>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/product">Productos</a>
            </li>
            <li>
                <a href="#">Servicios</a>
            </li>
            <li>
                <a href="#">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="/myAccount"><i class="fa fa-user" aria-hidden="true"></i></a>
            </li>
            <li> 
            <a class="icon-cart" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
        </li>
        </ul>
    </nav>
</header>