<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="/img/logo.png" alt="logo">
            <h5>Petshop</h5>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Productos</a>
                </li>
                <li>
                    <a href="#">Servicios</a>
                </li>
                <li>
                    <a href="#">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="" style="height: auto;">
            <div class="" data-ver="1" data-date="53">
                <div class="">
                    <div class="">
                        <div class="">ENVÍO <strong> GRATIS</strong>  POR COMPRAS SUPERIORES A $250.000</div>
                    </div>
                </div>
            </div>
            <style data-shopify="">.h__banner { background-color: #cca1a5;min-height:41px;font-size:12px;}.h_banner_wrap {color:#ffffff }.h_banner_close,.h_banner_close:hover,.h_banner_close:focus {color:#ffffff !important }.h_banner_close:after, .h_banner_close:before {background-color:#ffffff }</style>
        </div>

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Producto</li>
            </ol>
        </nav>    


        <div class="container">
            <div class="row">
                <div class="col-md-5 mb-4">
                    <img src="/img/bulldog-frances.png" class="img-thumbnail" alt="bulldog-frances">
                </div>
                <div class="col-md-5">
                    <div id="Descripción-producto" class="p-4 rounded mb-5">
                        <H1 id="product-title">Nombre Producto</H1>
                        <div></div>
                        <div></div>
                        <div>
                            $30.000
                        </div>

                    </div>
                </div>
            </div>

        </div>
  
    </main>
    
</body>
</html>