<!DOCTYPE html>
<html lang="es" class="fondo-register">
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1 class="titulo-register">Crear una cuenta nueva</h1>
        <h5 class="titulo-register">¿Tienes una cuenta de empresa? <a href="#">Crea una cuenta de empresa</a></h5>
        <div class="container-register">
            <div class="item">Nombre</div>
        </div>
        <div class="container-register-inputs">
            <div class="item">
                <input class="input" type="text"/>
            </div>
        </div>
        <div class="container-register">
            <div class="item">Apellido</div>
        </div>
        <div class="container-register-inputs">
            <div class="item">
                <input class="input" type="text"/>
            </div>
        </div>
        <div class="container-register">
            <div class="item">Correo electrónico</div>
        </div>
        <div class="container-register-inputs">
            <div class="item">
                <input class="input" type="text"/>
            </div>
        </div>
        <div class="container-register">
            <div class="item">Contraseña</div>
        </div>
        <div class="container-register-inputs">
            <div class="item">
                <input class="input" type="password"/>
            </div>
        </div>
        <div class="container-register-button">
            <div class="item-button">
                <button class="button">Guardar</button>
            </div>
        </div>
        <div class="container-register-button container-register-redes">
            <div class="item-button">
                <button class="button-redes"><img class="icono" src="/img/google.png" alt="x" /> Continuar con Google</button>
            </div>
        </div>
        <div class="container-register-button">
            <div class="item-button">
                <button class="button-redes"><img class="icono" src="/img/facebook.png" alt="x" /> Continuar con Facebook</button>
            </div>
        </div>
        <div class="container-register-button">
            <div class="item-button">
                <button class="button-redes"><img class="icono" src="/img/apple.png" alt="x" /> Continuar con Apple</button>
            </div>
        </div>
    </body>
</html>