@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/*INDEX - Julian Fernandez*/
.header{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
}
.header div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header div img, .logo{
    padding-right: 15px;
    height: 80px;
}

.header div h5{
    font-family: 'Poppins', sans-serif;
    color:#6C6EA0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bolder;
    border-bottom: 2px solid #6C6EA0 ;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header nav ul{
    list-style: none;
}

.header ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-right: 15px;
    color: #000;
    font-size: 17px;
}

.header ul li a:hover{
    color: #6C6EA0;
    border-bottom: 1px solid #6C6EA0 ;
}

.icon-cart{
    color: #6C6EA0; 
}

.pets{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 25px;
}

.pet-dog{
    border-radius: 100%;
    height: 200px;
}

.pet-cat{
    border-radius: 100%;
    height: 200px;
}

.pet-other{
    border-radius: 100%;
    height: 200px;
}

.bg-products{
    background-color: #BEE5BF;
    padding-top: 70px;
    padding-bottom: 70px;
}

.products-title{
    color: #6C6EA0;
    font-size: 40px;
    font-weight: bold;
}

.product1{
    padding: 15px 25px 0px 25px;
    background-color: white;
    height: auto;
    border-bottom: 6px solid #6C6EA0;
    box-shadow: 2px 3px 15px -1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 15px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 15px -1px rgba(0,0,0,0.45);
}
.product1 img{
    width: 220px;
}


.product1-title--description h3{
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}

.product1-title--description p{
    font-size: 14px;
    text-align: left;
}

.product1-title--description button{
    font-size: 14px; 
    border: 1px solid #6C6EA0;
    background-color: #6C6EA0;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 16px;
    transition: .3s ;
}

.product1-title--description button:hover{
    background-color: #464766;
    transition: .3s ;
}

.product1-title--description button a{
    text-decoration: none;
    color: white;
}
.services-section{
    background-color: #297045;
}

.services-section h2{
    color: white;
    font-size: 40px;
    padding-bottom: 25px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services img{
    border-radius: 20px;
}

.contact-index{

background-image: url('../img/main-dog.jpg');
height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}

.contact-index a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    padding: 10px 35px 10px 35px;
}

.contact-index a:hover{
    background-color: #F2F2F2;
    color: black;
}

.footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer-nav li{
    list-style: none;
}

.footer-nav li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-right: 15px;
    color: #000;
    font-size: 17px;
}

.footer-nav li a:hover{
    color: #6C6EA0;
    border-bottom: 1px solid #6C6EA0;
}

.footer-promo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-promo p{
    padding-top: 15px;
    padding-right: 10px;
    font-size: 17px;
    color: #6C6EA0;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.footer-promo input{
    border-radius: 100px;
    padding-left: 10px;
    border: none;
}

.footer-promo input:focus{
    outline: none;
    border: 2px solid #6C6EA0!important;
}

.footer-promo button{
    font-size: 14px; 
    border: 1px solid #6C6EA0;
    background-color: #6C6EA0;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 16px;
    transition: .3s ;
    margin-top: 15px;
    margin-left: 10px;
}
.footer-promo button:hover{
background-color: #464766;
    transition: .3s ;
}

footer{
    background-color: #BEE5BF;
}


.form{
	width: 400px;
    margin: 0 auto;
	padding: 0px 0px 15px 0px;
	border: 2px solid #6C6EA0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo-myaccount{
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.buttons{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	height: 50px;
	float: left;
}

.buttons .btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	width: 50%;
	cursor: pointer;
    
}




#chbox:checked ~ .SignUp_form{
	display: flex;
    
}

#chbox:checked ~ .login_form{
	display: none;
    
}

#chbox:checked + .layer{
	left: 50%;
}
#chbox:checked ~ .layer2{
	left: 50%;
   
}
#chbox{
	display: none;
}


.layer{
	content: '';
	height: 50px;
	width: 50%;
	background-color: transparent;
	float: right;
	position: absolute;
	left: 0px;
	top: 0px;
}

.layer2{
	content: '';
	height: 50px;
	z-index: -1;
	width: 50%;
	background-color: #6C6EA0;
	float: right;
	position: absolute;
	left: 0px;
	top: 0px;
    
}


	.form .login_form{
		display: flex;
		flex-direction: column;
        justify-content: center;
	}

	.form .login_form input{
		border: none;
		border-bottom: 1px solid #6C6EA0;
		outline: none;
		padding: 5px;
	}


	.tag{
		text-align: center;
		font-size: 20px;
		margin: 7px 0px 7px 0px;

	
	}

	.submit{
		width: 100%;
		border: none;
		padding: 7px;
		border-radius: 5px;
		background-color: #6C6EA0;
		outline: none;
		cursor: pointer;
        color: white;
	}

    .submit:hover{
        background-color: #464766;
    }


.form .SignUp_form{
	display: none;
	flex-direction: column;
}

.form .SignUp_form input{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	padding: 5px;
	margin: 0px;
}
/*CART - Manuel Giovinazzo*/


.containerCarrito{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}



.cart{
	display: flex;
}

.producto{
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 2px solid silver;
	margin-bottom: 20px;
}


.producto > img{
	width: 300px;
	height: 200px;
	object-fit:contain;
    padding-top: 15px;
    padding-bottom: 15px;

}


.infoProducto{
	padding: 20px;
	width: 100%;
	position: relative;

}

.nombreProd{
	margin-bottom: 20px;
    font-size: 20px;
    margin-right: 190px;
}

.precioProd{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.descuento{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #6C6EA0;
}

.eliminarProd{
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: #F87060;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}


.cantidadProd > input{
	width: 60px;
	padding: 5px;
	text-align: center;
    border-radius: 5px;
}

.cantidadProd {
	margin-bottom: 111px;
}

.fa{
	margin-right: 5px;

}

.totalCart{
	flex: 0.25;
	margin-left: 20px;
	padding: 20px;
	height: 240px;
	border: 1px solid silver;
	border-radius: 5px;

}

.totalCart p{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	font-size: 15px;

}

#botonCompra {
    display: block;
    text-align: center;
	height: 40px;
    line-height: 40px;
    background-color: #297045;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

#precioTotal{
    color: #F87060;
    font-weight: bold;
}

#ahorro{
    color: #6C6EA0;
    font-weight: bold;
}

#cantProd{
    font-weight: bold;
}



/* Product Detail Mateo*/

#product-title{
    font-size: 20px;
    color: #6C6EA0 ;
    letter-spacing: 1.2px;
    font-weight: 600;   
}

.bannerPromo{
    position: relative;
    background-color: #6C6EA0;
    min-height: 41px;
    font-size: 12px;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.textoBanner{
    color:#ffffff;
    text-align: center;
}

#contenedorPromo{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 
/*.prueba3{
    width: calc(100% - 0.75rem);
    height: 100%;
    margin: 0 0.375rem;
    object-fit: contain;
}*/

.proveedor{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
}

.productId{
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    color: #707070;
}

#precio{
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 22px;
    margin-right: 10px;
    color: #081f2d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.input-qty{
    font-size: 12px;
    color: #081f2d;
    height: 28px;
    width: 35px;
    border: 0;
    background: 0 0;
    padding: 0;
    font-weight: 600;
    outline: 0;  
    border-radius: 0;
    max-width: 100%;
    line-height: 18px;
    transition: border-color .5s;
    box-shadow: none;
    appearance: none;
    text-align: center;
    touch-action: manipulation;
}

.cantidades{
    border-radius: 0;
    min-width: 100px;
    width: 100px;
    height: 30px;
    border-color: #999;
    border: 1px solid #222;
    text-align: center;
    position: relative;
    margin-right: 10px;
    order: 1;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

    .boton-mas{
        width: 30px;
        line-height: 30px;
        top: 0;
        border: 0;
        background: 0 0;
        right: 0;
        position: absolute;
        padding-right: 15px;
        touch-action: manipulation;
        cursor: pointer;
}

.signo-mas{
    content: "\f067";
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.boton-menos{
    width: 30px;
    line-height: 30px;
    top: 0;
    border: 0;
    background: 0 0;
    left: 0;
    position: absolute;
    padding-left: 15px;
    touch-action: manipulation;
    cursor: pointer;
}

.signo-mas{
    content: "\f068";
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.agregar-carrito{
    background: #F87060;
    border-color: #F87060;
    color: #fff;
    border-radius: 0;   
}

.descripcion-producto{
    margin-top: 20px;
    color: #6C6EA0;
    font-weight: 700;
    font-size: 16px;
    font-family: playfair display;
}

.titulo-register{
    text-align: center;
}

.fondo-register{
    background-color: #BEE5BF;
}

.container-register {
    display: flex;
    flex-flow: row;
    margin-top: 50px;
}

.container-register-inputs {
    display: flex;
    flex-flow: row;
    margin-top: 5px;
}

.container-register-button {
    display: flex;
    flex-flow: row;
    margin-top: 30px;
}

.container-register-redes {
    margin-top: 20px;
}

.item {
    flex: 1 1 auto;
    text-align: center;
}

.item-button {
    flex: 1 1 auto;
    text-align: center;
}

.item-apellido {
    flex: 1 1 auto;
    text-align: left;
}

.button {
    width: 100px;
    border-radius: 5px;
    background-color: lightgray;
}

.button-redes {
    width: 200px;
    border-radius: 2px;
    background-color: white;
}



/*media querys*/

@media (max-width: 910px) { 
    .services{
        gap: 25px;
    }

    .services img{
        width: 70%;
    }

   .productos-destacados{
    gap: 25px;
   }
 }

 @media (max-width: 830px){
    .header{
        flex-direction: column;
    }
    .header div img{
        flex-direction: column;
        align-items: center;
    }

    .header nav ul{
        flex-direction: column;
    }
    .pets{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .containerCarrito{
        gap: 25px;
    }
    .cart{
        flex-direction: column;
        padding-right: 25px;
        padding-left: 25px;
    
    }

    .producto{
        flex-direction: column;
        height: auto;
    }
    .productos{
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
   
    footer{
        flex-direction: column;
    }

    .footer-nav{
        flex-direction: column;
        align-items: center;
    }

    .footer-promo{
        flex-direction: column;
        align-items: center;
    }

 }

 @media (max-width: 540px){
    .header{
        flex-direction: column;
    }
    .header div img{
        flex-direction: column;
        align-items: center;
    }

    .header nav ul{
        flex-direction: column;
    }
    .pets{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .products-title{
        font-size: 25px;
    }

    .services-section h2{
        font-size: 25px;
    }

    footer{
        flex-direction: column;
    }

    .footer-nav{
        flex-direction: column;
        align-items: center;
    }

    .footer-promo{
        flex-direction: column;
        align-items: center;
    }
 }
