<%- include('../Partials/head', {title: 'Register'}) %> 

<body>
    <%- include("../Partials/header") %>

    <div class="form">


		<div class="login_form">
            <img src="/img/logo.png" class="logo-myaccount">
            <h2 class="title-login text-center">Login</h2>
			<br> 
            <form method="POST" action="/login">
                <label for="emailUsuario">Email</label><br>
                <input  type="text" name="emailUsuario" placeholder="Email"><br>
                <% if(locals.errors && errors.emailUsuario){ %>
                   <p style="color: red;"> <%= errors.emailUsuario.msg %> </p>
                    <% } %>

                <label for="passwordUsuario">Contrase単a</label><br>
                <input type="password" name="passwordUsuario" placeholder="Contrase単a"><br>
                <% if(locals.errors && errors.passwordUsuario){ %>
                    <p style="color: red;"> <%= errors.passwordUsuario.msg %> </p>
                     <% } %>
                <input type="submit" value="Ingresar" class="submit"><br>
                <a href="#">多Has olvidado tu contrase単a?</a>
            </form>
		</div>
	</div>

   

</body>
</html>