<%-include('../partials/head', {title: 'Login'})%> 

<body>
    <%-include('../Partials/header')%>
    <div class="form">

		<div class="SignUp_form">
            <img src="/img/logo.png" class="logo-myaccount">
            <h2 class="title-login text-center">SignUp</h2>
			<br>
            <form action="/">
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Username"><br>
                <input type="email" placeholder="E-Mail"><br>
                <input type="password" placeholder="Password"><br>
                <input type="button" value="Registrarse" class="submit"><br>
            </form>
		</div>

	</div>

    

</body>
</html>