<%-include('../partials/head', {title: 'Product Add'})%> 

<body>
    <%-include('../partials/header')%>
    <h2>Create Form</h2>

    <form action="/productCreate" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre de Producto</label>
        <input type="text" name="nombre" placeholder="Nombre de Producto"><br><br>

        <label for="precio">Precio de Producto</label>
        <input type="number" name="precio" placeholder="Precio de Producto"><br><br>

        <label for="descripcion">Descripcion de Producto</label>
        <input type="text" name="descripcion" placeholder="Descripcion de Producto"><br><br>

        <label for="image">Imagen del Producto</label>
        <input type="file" name="image"><br><br>
        <button type="submit">Crear Producto</button>
        </form>
    <%-include('../partials/footer')%>

</body>
</html>